#MyDisk{    
    .tenkoseika{
        color:#5F6368;
        margin-left: 12px;
        margin-top: 18px;
        font-size: 14px;
    }
    .previewPhotos{
        width: calc( 100% - 71px );
        height: 191px;
        overflow:hidden;
        display:flex;
        flex-wrap: wrap;
    }
}